@{
    ViewData["Title"] = "Home";
}
<style>
    body {
        background-color: #FBAED2;
    }
    h1 {
        color: #0000FF;
        text-align: center;
    }
</style>
<div class="text-center">
    <hr />
    <h1 class="display-4">CC313 - APPLICATION DEVELOPMENT AND EMERGING TECHNOLOGIES</h1>
    <h4>ADET Prelim - Coding<br /></h4>
    <p><marquee behavior="scroll" direction="left" scrollamount="1">BSCS31E1 - Mikaela L. Jintalan</marquee></p>
</div>
