@{
    ViewData["Title"] = "Student Information";
}
<style>
    body {
        background-color: #FBAED2;
    }
    h1{
        font-weight:bold;
        color:#0000FF;
    }
</style>


    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="text-left">
        <p>Name: Mikaela Loterte Jintalan</p>
        <p>Nickname: Mika</p>
        <p>Course: Bachelor of Science in Computer Science</p>
        <p>School: Lyceum of Alabang</p>
        <p>Address: National Highway<br>Casa Nazareth Formation House<br>Daughters of St. Joseph of Caburlotto<br>1773 Tunasan, Muntinlupa City</p>
        <p>Guardian's name: Sister Maria Iloisa Cabantog, DSJC</p>
        <p>Contact number: N/A</p>
        <p>Email: amarchinti1993@gmail.com</p>
    </div>